
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-twitter-1:before { content: '\f302'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
